In [1]:
import pandas as pd
import numpy as np
import re

# 여가 관련 자료

## 일과 여가 생활 균형

In [2]:
leisure = pd.read_csv("G:/내 드라이브/취미/일과_여가생활_간_균형_20230510094439.csv", encoding='cp949')
# leisure.info()
# leisure.head(10)

In [3]:
leisure_T = leisure.T   # 행열 전환
# leisure_T.head(5)

In [4]:
leis_uq = leisure.iloc[:,0].unique()
leis_uq = leis_uq.tolist()   # ndarray -> list
leis_uq = [re.sub(r"\(+.\)","",uq.replace(" ","_")) for uq in leis_uq]  # 괄호와 괄호 안 글자, 공백 제거
print(leis_uq)

['통계분류', '전체', '성별', '연령별', '학력별', '동거가구원수별', '혼인상태별', '가구주여부별', '종사자지위별', '가구소득별', '지역규모별', '권역별', '17개_시도별', '장애여부별']

In [5]:
leisure_T.columns = leisure_T.iloc[0,:]
# leisure_T.info()

In [6]:
columns_nospace = [re.sub(r"\(+.\)", "", col.replace(" ","_")) for col in leisure_T.columns]

In [7]:
leisure_T.columns = columns_nospace
print(leisure_T.columns)

Index(['통계분류', '전체', '성별', '성별', '연령별', '연령별', '연령별', '연령별', '연령별', '연령별',
       '연령별', '학력별', '학력별', '학력별', '학력별', '동거가구원수별', '동거가구원수별', '동거가구원수별',
       '혼인상태별', '혼인상태별', '혼인상태별', '가구주여부별', '가구주여부별', '종사자지위별', '종사자지위별',
       '종사자지위별', '종사자지위별', '종사자지위별', '종사자지위별', '종사자지위별', '종사자지위별', '종사자지위별',
       '가구소득별', '가구소득별', '가구소득별', '가구소득별', '가구소득별', '가구소득별', '가구소득별', '지역규모별',
       '지역규모별', '지역규모별', '권역별', '권역별', '권역별', '권역별', '권역별', '권역별', '17개_시도별',
       '17개_시도별', '17개_시도별', '17개_시도별', '17개_시도별', '17개_시도별', '17개_시도별',
       '17개_시도별', '17개_시도별', '17개_시도별', '17개_시도별', '17개_시도별', '17개_시도별',
       '17개_시도별', '17개_시도별', '17개_시도별', '17개_시도별', '장애여부별', '장애여부별', '장애여부별'],
      dtype='object')

In [8]:
# 통계 분류별로 데이터 프레임 분류

for cat in leis_uq : 
    globals()["leisure_{}".format(cat)] = leisure_T[cat]
    
    if type(globals()["leisure_{}".format(cat)]) == pd.core.series.Series :   # type이 시리즈라면
        globals()["leisure_{}".format(cat)] = pd.DataFrame(globals()["leisure_{}".format(cat)])   # 시리즈를 데이터프레임으로 변경
        
    globals()["leisure_{}".format(cat)].columns = globals()["leisure_{}".format(cat)].iloc[1,:]
    globals()["leisure_{}".format(cat)] = globals()["leisure_{}".format(cat)].iloc[2:,:]

In [9]:
leis_uq2 = leis_uq[1:]
print(leis_uq2)

['전체', '성별', '연령별', '학력별', '동거가구원수별', '혼인상태별', '가구주여부별', '종사자지위별', '가구소득별', '지역규모별', '권역별', '17개_시도별', '장애여부별']

In [13]:
for uq2 in leis_uq2 : 
    globals()["leis_{0}_{1}".format(uq2, "합본")] = pd.concat([leisure_통계분류, globals()["leisure_{}".format(uq2)]],axis=1)

In [15]:
leis_동거가구원수별_합본.head(5)

통계분류(2)          통계분류(2)    1인    2인  3인이상
2016                 표본수  1178  2452  6972
2016.1       일에 더 집중하고있다   1.3   1.5   1.7
2016.2   일에 조금 더 집중하고 있다   6.3   7.3     9
2016.3     다소 일에 집중하고 있다  16.3  16.2  21.6
2016.4        균형을 이루고 있다  34.7    35  35.6

In [17]:
leis_가구소득별_합본.head(5)

통계분류(2),통계분류(2),100만원 미만,100~200만원,200~300만원,300~400만원,400~500만원,500~600만원,600만원 이상
2016,표본수,861,1075,1594,2437,2231,1356,1048
2016.1,일에 더 집중하고있다,0.9,1.5,2.5,1.2,1.4,1.7,2.1
2016.2,일에 조금 더 집중하고 있다,4.2,8.1,10.3,9.1,8.5,8.1,8.6
2016.3,다소 일에 집중하고 있다,12.2,14.1,19.2,22.1,21,22.4,21.6
2016.4,균형을 이루고 있다,31,35.3,32.4,36.5,36.3,37.1,34.8

In [18]:
leis_전체_합본.head()

통계분류(2)          통계분류(2)     소계
2016                 표본수  10602
2016.1       일에 더 집중하고있다    1.6
2016.2   일에 조금 더 집중하고 있다    8.6
2016.3     다소 일에 집중하고 있다   20.4
2016.4        균형을 이루고 있다   35.5